* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}

nav {
    height: 50px;
    background-color: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;    /* Обнуление margin, особенности bootstrap */
    list-style: none;  /* Убераем точки у списка */
}

.menu .menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, 0.6);
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    margin-top: 3px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
}

.subheader .subheader_call {
    margin-top: 19px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    line-height: 10px;
    text-transform: uppercase;
    text-align: right;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);

    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;   
}

.promo {
    min-height: 800px;
    background: url("../img/bg/backgraund-info.png") center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo_header {
    margin: 0;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
}

.promo .promo_subheader {
    margin: 0;
    margin-top: 22px;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
}

.promo .promo_descr {
    margin-top: 23px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);

    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 68px;
    text-transform: uppercase;
}

.reasons {
    padding: 71px 0 65px 0;
}

/* .reasons .row {
    align-items: flex-start;
} */

.reasons .reasons_label {
    text-align: center;
    width: 112px;
    height: 24px;
    background-color: #000000;

    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.reasons .reasons_label .reasons_label_text {
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.reasons .reasons_subheader {
    margin-top: 24px;
    margin-bottom: 0px;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.reasons .reasons_blok {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 35px;
}


.reasons .reasons_blok .reasons_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius:100%
    
}

.reasons .reasons_blok .reasons_descr {
    width: 343px;
}

.reasons .reasons_blok .reasons_descr .reasons_subtitle{
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}

.reasons .reasons_blok .reasons_descr .reasons_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.ability {
    margin-bottom: 0px;
    width: auto;
    height: 864px;
    padding: 48px 0 80px 0;
    background: url(..//img/bg/cell-bg.png) center center/cover repeat;
}

.ability .ability_label {
    text-align: center;
    width: 112px;
    height: 24px;
    background-color: #000000;

    font-size: 11px;
    line-height: 24px;
    font-weight: 100;
    text-transform: uppercase;
    color: #ffffff;
}

.ability .ability_label .ability_label_text {
    display: block;
    font-size: 11px;
    line-height: 24px;
    font-weight: 100;
    text-transform: uppercase;
    color: #ffffff;
}

.ability .ability_subheader {
    text-align: center;
    margin-top: 38px;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.ability .ability_text {
    margin-top: 19px;
    text-align: center;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    color: #222222;
}